
#form1{
	
}
.input1
{
	height:20px;
	width:178px;
	padding:1px;
	border:1px solid #F2B705;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.input1:focus{border:1px solid #300;}

.profilesave .input1:focus{border:1px solid #F2B705;}
.mineinput{
	height:20px;
	width:198px;
	padding:1px;
	border:1px solid #F2B705;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	resize:none;
	font-size:12px;
}

.button1
{
	background:url(../images/im/btnnormal.gif) repeat-x 0 0;
	border:0;
	width:80px;
	height:26px;
}
.button1:hover{
	background:url(../images/im/btnnormal.gif) repeat-x 0 -26px;
}
.button1:active{
	background:url(../images/im/btnnormal.gif) repeat-x 0 -52px;
}
.gray
{
	color:#999;
}
.red
{
	color:red;
}
.white{
	color:#fff;
}
.dark{
	color:#300;
}
.orange
{
	color:#F28705
}
.warncolor{
	color:#03f;
	font-weight:bold;
}
.okcolor{
	color:#ffc;
	font-weight:bold;
}
a
{
	text-decoration:none;
	color:#333;
}
a:hover
{
	text-decoration:underline;
	color:#333;
}

/* By CrossJae */
.im_topad {
	width:209px;
	height:87px;
	margin:9px 0 0 0; 
	background:url(../images/im/topad.png) no-repeat 0 0;
}
.mb10{
	padding-top:10px;
}


.form_option {
	height: 374px;
	width: 406px;
	background: #ffc;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius: 4px;
	margin-left: 1px;
	padding-left:10px
}

.form_option table,.profilesav table{
	margin:0 auto;
}

.profilesave{
	height: 492px;
	width: 330px;
	background: #ffc;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius: 4px;
	margin: 4px 0 0 1px;
}

.sendemailpage{
	height: 92px;
	width: 296px;
	background: #ffc url(../images/im/sendemail.jpg) no-repeat left 36px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius: 4px;
	margin: 4px 0 0 1px;	
}

.ed_sjr{ float:left; margin:10px; color:#333;}
.ed_address{ 
	float:left; 
	height:50px;
	width:210px;
	word-wrap:break-word;
	text-align:left;
	margin:10px 10px 6px 0;
	overflow:hidden;
	color:#F25C05;
	}
.ed_link{ clear:both; float:left; margin:0 10px 0 66px;}
.ed_link a{ color:#06f; font-weight:bold; text-decoration:underline}

.message_bg{
	width:544px;
	margin:0 auto;
	padding:7px 0;
	background:url(../images/im/messagebg.jpg) repeat-x 0 0;
	border:1px solid #FFAF27;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	text-align:left
}

.todaynews .message_bg{width:374px;line-height:30px;padding:10px; height: 352px;}
.todaynews table{ background:#ffc; border:1px solid #F2B705; padding:10px;}

.mes_first, .mes_pre, .mes_next, .mes_last, .gray_first, .gray_pre, .gray_next, .gray_last,.mes_first:hover, .mes_pre:hover, .mes_next:hover, .mes_last:hover{
	background-image:url(../images/im/mes_btn.png);
	background-repeat:no-repeat;
	width:24px;
	height:24px;
	display:block;
	float:left;
	text-indent:-999em;
	overflow:hidden
}

.mes_first{
	background-position:0 0;
}
.mes_pre{
	background-position:-24px 0;
}
.mes_first:hover{
	background-position:0 -24px;
}
.mes_pre:hover{
	background-position:-24px -24px;
}
.gray_first{
	background-position:-48px 0;
}
.gray_pre{
	background-position:-72px 0;
}
.mes_next{
	background-position:-120px 0;
}
.mes_last{
	background-position:-96px 0;
}
.mes_next:hover{
	background-position:-120px -24px;
}
.mes_last:hover{
	background-position:-96px -24px;
}
.gray_next{
	background-position:-168px 0;
}
.gray_last{
	background-position:-144px 0;
}

.mes_td{
	word-break:break-all;
	padding:0 2px;
}

.addfr_bg{
	position:relative;
	width:344px;
	height:210px;
	margin:0 auto;
	padding:7px 0 40px;
	background:#FED983;
	border:1px solid #FFAF27;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	text-align:left
}

.friend_bg{
	height:219px;
	width:326px;
	background:#ffc;
	margin:0 auto;
	padding:20px 10px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	text-align:left
}
.fr_found{
	background:url(../images/im/friendtit.jpg) repeat-x 0 0;
	height:24px;
	text-indent:6px;
	line-height:24px;
	color:#ffc;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.fr_clear{
	clear:both;
}
.fr_fl{
	float:left;
}

.fr_mr{
	
}

.fr_choose{
	height:30px;text-indent:10px
}

